@use "./color-font";
@use "../device";

.footer-pageStyle{
    background: color-font.$mainOrange;
    color: color-font.$mainDark;
    text-align: center;
    height: 100%;
    width: 100%;
    .row{
        width: 536px;
    }
    p{
        font-size: 18px;
    }
    .larry-pic{
        margin: 140px 0 53px;
        border-radius: 50%;
        width: 109px;
    }
    input[type="text"]{
        border-bottom:3px solid color-font.$mainDark !important;
        color: color-font.$mainDark !important;
        text-align:center;
        font-size: 19px !important;
        &:focus {
            outline: none;
        }
        &::placeholder{
            opacity: 50%;
            color: color-font.$mainDark !important;
            font-family: color-font.$bodyFont;
            font-size: 19px;
        }
    }
    .send-button{
        margin-left: -30px;
        cursor: pointer;
        width: 1.3em;
        &:focus {
          outline: none;
        }
    }
    .info{
        margin: 32px 0;
        letter-spacing:0.1em;
    }
    .fb-icon,
    .twitter-icon{
        margin-bottom: 141px;
        width: 45px;
    }
    .fb-icon{
        margin-right:22px;
    }
    .logo-white{
        color: #ffff;
        font-size: 41px;
    }
}

// desk top device (992 <)
@media (max-width: device.$laptopXL) {
    .footer-pageStyle{
        .larry-pic{
            margin: 150px 0 30px;
        }
        .info{
            margin: 30px 0 50px;
        }
        .fb-icon,
        .twitter-icon{
            margin-bottom: 200px;
        }
    }
}

// tablet device (600 <)
@media (max-width: device.$laptopL) {
    .footer-pageStyle{
        .row{
            width: 273px;
            .larry-pic{
                width: 102px;
                margin: 100px 0 20px;
            }
            p{
                font-size: 14px;
            }
            .logo-white{
                font-size: 32px;
            }
            input[type="text"]{
                font-size: 15px !important;
                &::placeholder{
                    font-size: 15px;
        }
            }
            .info{
                margin: 60px 0;
            }
            .fb-icon,
            .twitter-icon{
                width: 54px;
            }
            .fb-icon{
                margin-right:27px;
            }
        }
    }

}

// mobile device (< 600)
@media (max-width: device.$tablet) {
    .footer-pageStyle{
        .row{
            width: 200px;
            .larry-pic{
                width: 85px;
                margin: 100px 0 30px; 
            }
            .fb-icon,
            .twitter-icon{
                margin-bottom: 113px;
            }
            .fb-icon{
                margin-right:20px;
            }
        }
    }
}

        